<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/static/CSS/ccgen.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="box">
        <h2>TEAM HYDEN</h2>
        <div class="card-div">    
            <form action="/generate_cc" method="post">
                <label for="" class="card-type">Enter Bin</label>
                <input type="number" name="binNumber" id="binNumber">
                <button type="submit" id="submit-btn" class="submit-btn">GEN CC</button>
            </form>

        </div>    
    </div>

    
</body>    

</html>