<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/static/CSS/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="box">
        <h2>TEAM HYDEN</h2>
        <div class="card-div">    
            <label for="" class="card-type">Select Card</label>  
            <select name="" id="card-type-select">
                <option value="0" ></option>
                <option value="4">VISA</option>
                <option value="5">MasterCard</option>
                <option value="6">Discover</option>
                <option value="9" disabled>American Express</option>
            </select>

            <button type="reset" id="submit-btn" class="submit-btn">GEN BIN</button>
        </div>    
    </div>

    <script src="{{ url_for('static', filename='JS/script.js') }}"></script>
    